nav ul li:hover {
    color: #f5f3f0;
}

/* #lights {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

canvas {
    width: 100%;
    height: 100%;
} */



/* .winky-rough-<uniquifier> {
        {
        font-family: "Winky Rough", sans-serif
    }

    ;

        {
        font-optical-sizing: auto
    }

    ;
    font-weight: <weight>;
    font-style: normal;
} */

.bg {
    background-image: url(./assets/originJuiceLogo.png);
}


@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.animate-typing {
    width: 0;
    animation:
        typing 4s steps(20, end) forwards,
        blink 0.8s step-end infinite;
}

.imgBdr {
    animation: morph 10s ease-in-out infinite;
}

@keyframes morph {
    0% {
        border-radius: 30% 70% / 80% 50%;
    }

    50% {
        border-radius: 60% 40% / 30% 70%;
    }

    100% {
        border-radius: 30% 70% / 80% 50%;
    }
}



/* sign in ----------------------- */

.input:hover {
    box-shadow: 0 0 5px rgba(232, 224, 216, 0.923);
    font-size: 15px;
}

.signUp:hover {
    text-decoration: underline;

}